/* Active page */
.pagination .active .page-link {
  background-color: #4B5694 !important;
  border-color: #4B5694 !important;
  color: #fff !important;
}

/* Normal page */
.pagination .page-link {
  color: #4B5694 !important;
}

/* Hover */
.pagination .page-link:hover {
  background-color: #4B5694 !important;
  border-color: #4B5694 !important;
  color: #fff !important;
}